.buy-container {
    margin: 100px auto;
    display: flex;
    /* align-items: flex-start; Align the items at the start of the container */
    justify-content: space-between;
    width: 80%;
    background-color: #f5f5f5; /* Changed for better contrast */
    border: 3px solid rgb(28, 27, 27);
    padding: 20px; /* Added padding for better spacing inside the container */
}

.card {
     width: 50%;  
     
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 8px;
}

.buy-courses {
    border: 2px solid red;
}

.buy-training {
    border: 2px solid blue;
}
