.campus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallary {
    box-shadow: 0 0 20px rgba(181, 176, 176, 0.9);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.gallary img {
    box-shadow: 0 0 20px rgba(98, 79, 160, 0.9);
    padding: 8px;
    max-width: 100%;
    height: auto;
    margin: 10px;
    border-radius: 8px;
}

.btn.dark-btn {
    background: #212EA0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 800px) {
    .gallary {
        flex-wrap: wrap;
        /* width: 100%; */
      
        
    }
    .gallary img{
        width: 48%;
        /* width: 30%; */
        margin-bottom: 2px;
       
    }
}