.about{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

}
.about .about-left img{
    width: 100%; /* Make the image responsive within its container */
    max-width: 450px; /* Set a maximum width to control the image size */
    border-radius: 10px;
}
/* .about-left{
    
    flex-basis: 42%;
    position: relative;   
} */
.about-right{
    flex-basis: 48%;
}
 .about_img{
    width: 100%;
    border-radius: 10px;
} 
 .play_icon{
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    cursor: pointer;
} 

.about h3{
    font-weight: 600px;
    font-size: 16px;
    color: rgb(8, 68, 129);
}

.about h2{
    font-weight: 600px;
    font-size: 35px;
    color: rgb(12, 13, 14);
    margin: 10px 0;
    max-width: 400px;
}
.about p{
   
    color: rgb(16, 16, 16);
    margin-bottom: 15px 0;
   
}
@media (max-width: 808px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}

  
  
  @media (max-width: 800px) {
    .about{
        flex-direction: column;
    }
    .about-left{
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .about-right{
        flex-basis: 100%;
    }
  }